.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 15rem;
}
.crud-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0;
}
